VisualElement {}

.better-inner-joystick{
    display: initial;
    position: absolute !important;
    height: 100px;
    width: 100px;
    border-color: azure;
    border-width: 5px;
    border-radius: 100%;
    background-color: rgba(240, 255, 255, 0.3);
}

.better-joystick{
    border-color: azure;
    border-width: 5px;
    border-radius: 100%;
    width: 250px;
    height: 250px;
}